.headerWrepper {
  display: grid;
  grid-template-columns: 270px auto 190px;
  align-items: center;
  height: 60px;
  width: 100vw;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.logoWrepper {
  display: grid;
  grid-template-columns: 25% auto;
  margin-left: 15px;
}

.logoWrepper > img {
  height: 55px;
  object-fit: contain;
}

.logoWrepper > span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  letter-spacing: 0.01px;
}

.searchBarWrepper {
  display: grid;
  grid-template-columns: auto;
  margin-right: 50px;
}

.searchWrepper {
  display: grid;
  grid-template-columns: 10% auto 5%;
  width: 100%;
  max-width: 720px;
  height: 45px;
  align-items: center;
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 0 20px;
  object-fit: contain;
}

.MuiSvgIcon-root {
  color: #5f6368;
}

.searchWrepper > input {
  border: none;
  background: none;
  font-size: large;
}

.searchWrepper > input:focus {
  outline: none;
}

.headerIcons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  object-fit: contain;
  margin-right: 10px;
}

.headerIcons:hover {
  cursor: pointer;
}

.headerMenuContainer {
  margin-top: 40px;
  padding: 0px;
}
