.mainBodyContainer {
  margin: 20px;
  min-width: 414px;
  width: 95%;
}

.mainBodyCard {
  margin: 0px 5px;
  width: 170px;
}

.mainBodyFileIcon {
  display: flex !important;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.mainBodyFileIconImage {
  height: 100px !important;
}

.mainBodyCardTitle {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: small !important;
}

.mainBodyATag {
  text-decoration: none;
}
