.sideIconsContainer {
  /* margin: 0px 10px; */
  border-left: 1px solid rgb(219, 219, 219);
  height: 100vh;
}

.sideIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addIcon {
  margin: 2px;
  padding: 10px;
  border-radius: 50%;
}

.addIcon:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.sideIconsImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.sideIconsImg > div {
  margin: 2px;
  padding: 10px;
  border-radius: 50%;
}

.sideIconsImg > div > img {
  width: 20px;
  height: 20px;
}

.sideIconsImg > div:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
