.appLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appLogInDriveImage {
  height: 300px;
  width: 300px;
}

.appLogInWelcomeLogo {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.appLogInButton {
  margin-top: 30px !important;
  padding: 10px 20px !important;
  transition: all 0.5s;
}

.appLogInButton > MuiButton-label {
  font-size: 10px;
}

.appLogInButton:hover {
  background-color: rgba(52, 66, 146, 0.1) !important;
  font-size: 15px !important;
}
